@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,900&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------HOME PAGE-------------------------------------------------------------------- */

.home-page{
    width: 100vw;
    height: 100vh;
}

.home-page-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
}

/* ---------------------------------------------------HEADER-------------------------------------------------------------------- */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.site-logo{
    width: 220px;
}

.login-button{
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-family: 'Sarala', sans-serif;
    font-size: 17px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.4s ease;
}

.login-button:hover{
    background-color: rgba(246, 247, 248, 0.651);
}

/* ---------------------------------------------------CONTENT-------------------------------------------------------------------- */

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
}

.motto{
    background: -webkit-linear-gradient(#6803a9, rgb(225, 239, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5%;
}

.motto-description{
    color: white;
    font-family: 'Sarala', sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-top: 3%;
}

.see-all-trips{
    width: 300px;
    height: 50px;
    margin-top: 20%;
    background-color: #6904a9;
    border: 1px solid #6904a9;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.see-all-trips:hover{
    color: #6803a9;
    border: 1px solid #6803a9;
    background-color: transparent;
    
}