@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,900&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sarala&display=swap');

/* ---------------------------------------------------LOGIN PAGE-------------------------------------------------------------------- */

.login-page{
    width: 100vw;
    height: 100vh;
    background-color: #111012;
}


/* ---------------------------------------------------HEADER-------------------------------------------------------------------- */

.header-login-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border-bottom: 1px solid #f1f0f171;
    height: 10vh;
}

.go-to-home-page{
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-family: 'Sarala', sans-serif;
    font-size: 17px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.4s ease;
}

.go-to-home-page:hover{
    background-color: rgba(246, 247, 248, 0.651);
} 
