/* HOME - PRESETS */

* {margin: 0px; padding: 0;}

    body {text-align: center;}

        .screen{ width: 1300px; margin: 0 auto;}

/* HEADER - PRESETS */

.header{
    position: fixed;
    width: 100%;
    z-index: 12;
    background-image: linear-gradient(to bottom, #a3a8a6, white);}

     #my-brand{
        display: block;
        float: left;
        margin-left: 0;
        padding: 18px;
        width: auto;
        height: 73px;}
        
        nav{float: right; line-height: 100px;}
        
            nav a{
                text-decoration: none;
                font-family: inherit;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 20px;
                margin: 10px;
                color: #02331c;}

                    nav a:hover{ 
                        text-shadow: 1px 2px 1px gray;
                        font-size: 25px;}

/* INITIAL PAGE - PRESETS */

.my-portfolio{
    width: 100%;
    height: 370px;
    position: relative;
    top: 100px;
    background-image: url('cover.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;}
    

.my-portfolio h1{
    text-align: center;
    padding-top: 8%;
    font-size: 85px;
    font-family: inherit;
    text-shadow: 1px 2px 1px rgb(17, 16, 16);
    text-transform: uppercase;
    color: white;}
   
    .my-portfolio h3{
        text-align: center;
        font-size: 16px;
        letter-spacing: 1px;
        font-family: 'Lucida Sans';
        text-shadow: 7px 9px 7px rgb(17, 16, 16);
        text-transform: uppercase;
        text-decoration: underline;
        color: white;}
            
            .trace{
                width: 1310px;
                left:0; 
                border: 5px double whitesmoke;
                height: 95px;
            }
        #my-picture{
            display: block;
            margin: 0;
            width: auto;
            height: auto;
            padding-top: 150px;}

            #my-name{
                padding-top: 120px;
                text-transform: uppercase;
                text-align: left;
                font-size: 70px;
                color: whitesmoke;
                text-shadow: 7px 9px 7px rgb(22, 22, 22);}

                #my-informations{
                    text-transform: uppercase;
                    text-align: left;
                    padding-top: 50px;
                    padding-left: 15px;
                    font-size: 23px;
                    color: whitesmoke;
                    text-shadow: 7px 9px 7px rgb(22, 22, 22); }

                

        .initial-content{
            width: 100%;
            position: relative;
            top: 100px;
            background-color:white;
            height: 600px;}

                .initial-content h2{
                    text-align: center;
                    font-family: inherit;
                    letter-spacing: 4px;
                    padding-top: 73px;
                    font-size: 30px;
                    text-transform: uppercase;
                    margin: 0;}

                        .initial-content p{
                            padding: 2% 0;
                            letter-spacing: 2px;
                            word-spacing: 2px;
                            font-size: 20px;
                            font-family: inherit;
                            line-height: 30px;
                            text-align: justify;}

                               
/* FOOTER - PRESETS */

.footer-space{
    height: 100px;
    padding: 12px;}

    .footer{
        z-index: 12;
        width: 100%;
        height: 100px;
        position: absolute;
        height: 100px;
        display: flex;
        background-image: linear-gradient(to bottom, #a3a8a6, white);}
