/* HOME - PRESETS-------------------------------------------------------------------------------------------------------------------------------------- */

* {margin: 0px; padding: 0;}

    body {text-align: center;}

        .screen{ width: 1300px; margin: 0 auto;}

/* HEADER - PRESETS-------------------------------------------------------------------------------------------------------------------------------------- */

.header{
    position: fixed;
    width: 100%;
    z-index: 12;
    background-image: linear-gradient(to bottom, #a3a8a6, white);}

     #my-brand{
        display: block;
        float: left;
        margin-left: 0;
        padding: 18px;
        width: auto;
        height: 73px;}
        
        nav{float: right; line-height: 110px;}
        
            nav a{
                text-decoration: none;
                font-family: inherit;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 20px;
                margin: 10px;
                color: #02331c;}

                    nav a:hover{ 
                        text-shadow: 1px 2px 1px gray;
                        font-size: 25px;}

/* INITIAL PAGE - PRESETS-------------------------------------------------------------------------------------------------------------------------------------- */

.my-portfolio{
    width: 100%;
    height: 370px;
    position: relative;
    top: 100px;
    background-image: url('cover.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;}
    
    .my-portfolio h1{
        text-align: center;
        padding-top: 8%;
        font-size: 85px;
        font-family: inherit;
        text-shadow: 1px 2px 1px rgb(17, 16, 16);
        text-transform: uppercase;
        color: white;}
   
        .my-portfolio h3{
            text-align: center;
            font-size: 16px;
            letter-spacing: 1px;
            font-family: 'Lucida Sans';
            text-shadow: 7px 9px 7px rgb(17, 16, 16);
            text-transform: uppercase;
            text-decoration: underline;
            color: white;}
            
            .trace{
                width: 1310px;
                left:0; 
                border: 5px double whitesmoke;
                height: 95px;}

                #my-picture{
                    display: block;
                    margin: 0;
                    width: auto;
                    height: auto;
                    padding-top: 100px;}

                    #my-name{
                        padding-top: 120px;
                        text-transform: uppercase;
                        text-align: left;
                        font-size: 70px;
                        color: whitesmoke;
                        text-shadow: 7px 9px 7px rgb(22, 22, 22);}

                        #my-informations{
                            text-transform: uppercase;
                            text-align: left;
                            padding-top: 50px;
                            padding-left: 15px;
                            font-size: 23px;
                            color: whitesmoke;
                            text-shadow: 7px 9px 7px rgb(22, 22, 22); }

                            .initial-content{
                                width: 100%;
                                position: relative;
                                top: 100px;
                                background-color: rgba(255, 255, 255, 0.67);
                                height: 1100px;}

                                .initial-content h2{
                                    text-align: center;
                                    font-family: inherit;
                                    letter-spacing: 4px;
                                    padding-top: 73px;
                                    font-size: 30px;
                                    text-transform: uppercase;
                                    margin: 0;
                                    color: #02331c;}

                                    .initial-content p{
                                        padding: 2% 0;
                                        letter-spacing: 2px;
                                        word-spacing: 2px;
                                        font-size: 20px;
                                        font-family: inherit;
                                        line-height: 30px;
                                        text-align: justify;}

                                        .initial-content h3{
                                            text-align: center;
                                            font-family: inherit;
                                            letter-spacing: 4px;
                                            padding-top: 33px;
                                            font-size: 30px;
                                            text-transform: uppercase;
                                            margin: 0;
                                            color: #02331c;}

                                            .initial-content h4{
                                                display: block;
                                                text-align: left;
                                                font-family: inherit;
                                                letter-spacing: 4px;
                                                padding-top: 33px;
                                                font-size: 19px;
                                                text-transform: uppercase;
                                                margin: 0;
                                                color: #02331c;}

                                                .initial-content li{
                                                    padding: 20px;
                                                    font-size: 20px;
                                                    font-family: inherit;
                                                    line-height: 1px;
                                                    text-align: left;}

                               
/* FOOTER - PRESETS */

.footer-space{
    height: 0px;
    padding-bottom: 11px;}

    .footer{
        z-index: 12;
        width: 100%;
        height: 111px;
        position: absolute;
        height: 111px;
        display: flex;
        background-image: linear-gradient(to bottom, #a3a8a6, white);}

/* CONTACT PAGE - PRESETS --------------------------------------------------------------------------------------------------------------------------------------*/

.contact-form{
    width: 100%;
    height: 130px;
    position: relative;
    top: 100px;
    background-color: #02331c;
    background-size: cover;
    background-position: center center;}

    .contact-form h1{
        text-align: center;
        padding-top: 2.2%;
        font-size: 73px;
        font-family: inherit;
        text-shadow: 1px 2px 1px rgb(17, 16, 16);
        text-transform: uppercase;
        color: white;}

            .body-content{
                font-family: inherit;
                font-size: 1.6em;
                border: none;
                margin-left: 5%;
                width: 90%;
                margin-top: 13%;}

                table{
                    border: 0;
                    font-family: inherit;
                    font-size: 1em;
                    color:#080f0c;
                    box-shadow: rgb(0, 2, 0, 0.2);
                    margin-left: 0px;
                    margin-top: 3.3%;
                    text-align: center;
                    display: block;}

                    input, select, textarea{
                        border-radius: 50px;
                        margin-left: 2px;
                        padding: 5px;
                        width: 250px;
                        justify-content: center;}

                        #about-you{
                            margin-top: 4%;
                            margin-bottom: 3%;
                            width: 696px;
                            height: 36px;
                            position: static;
                            text-emphasis: none;
                            text-align: left;}

                            button{
                                height: 30px;
                                width: 100px;
                                margin-top: 80px;
                                float: left;
                                border-radius: 50px;
                                margin-left: 2px;
                                padding: 5px;
                                width: 250px;
                                justify-content: center;}

                                button:hover{
                                    background-color:  #02331c;
                                    color:whitesmoke;
                                    text-shadow: 1px, 2px, 1px gray;}

                                    .footer-space-contact{
                                        height: 300px;
                                        padding-bottom: 11px;}
                                    
                                        .footer-contact{
                                            z-index: 12;
                                            background-image: linear-gradient(to bottom, #a3a8a6, white);
                                            width: 1350px;
                                            height: 110px;
                                            left: 0;
                                            position: absolute;
                                            display: block}

                                            .screen-contact{ width: 1300px;margin: 0 auto;}

                        
                        
                       
                       
            